<div class="container">
    @if (loan.id) {
    <h1>Modificar Préstamo</h1>
    } @else {
    <h1>Crear Préstamo</h1>
    }

    <form>
        <mat-form-field>
            <mat-label>Identificador</mat-label>
            <input type="text" matInput placeholder="Identificador" [(ngModel)]="loan.id" name="id" disabled>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Nombre cliente...</mat-label>
            <mat-select disableRipple [(ngModel)]="loan.client" name="client" required>
                @for (client of clients; track client.id) {
                <mat-option [value]="client">{{client.name}}</mat-option>
                }
            </mat-select>
            <mat-error>El cliente no puede estar vacío</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Nombre juego...</mat-label>
            <mat-select disableRipple [(ngModel)]="loan.game" name="game" required>
                @for (game of games; track game.id) {
                <mat-option [value]="game">{{game.title}}</mat-option>
                }
            </mat-select>
            <mat-error>El juego no puede estar vacío</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Fecha de préstamo</mat-label>
            <input matInput [matDatepicker]="startPicker" placeholder="Fecha de préstamo" [(ngModel)]="loan.startDate"
                name="startDate" required>
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error>La fecha de préstamo no puede estar vacía</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Fecha de devolución</mat-label>
            <input matInput [matDatepicker]="endPicker" placeholder="Fecha de devolución" [(ngModel)]="loan.endDate"
                name="endDate" required>
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
            <mat-error>La fecha de devolución no puede estar vacía</mat-error>
        </mat-form-field>
    </form>

    <div class="buttons">
        <button mat-stroked-button (click)="onClose()">Cerrar</button>
        <button mat-flat-button color="primary" (click)="onSave()">Guardar</button>
    </div>
</div>